<html>
  <body>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <fieldset>
      <a href="" class="btn btn-default" onclick="return power();">On/Off</a>
    </fieldset>


    <fieldset>
      <legend>Espresso</legend>
      <a class="btn btn-default" onclick="return brew('espresso', 1)">Normal</a>
      <a class="btn btn-default" onclick="return brew('espresso', 2)">Strong</a>
      <a class="btn btn-default" onclick="return brew('espresso', 3)">Extra Strong</a>
    </fieldset>
    <fieldset>
      <legend>Coffee</legend>
      <a class="btn btn-default" onclick="return brew('coffee', 1)">Normal</a>
      <a class="btn btn-default" onclick="return brew('coffee', 2)">Strong</a>
      <a class="btn btn-default" onclick="return brew('coffee', 3)">Extra Strong</a>
    </fieldset>

    <script>
      function brew(what, strength) {
        $.get('/api/strength/' + strength + '/', null, function(data){
          $.get('/api/' + what + '/', null, function(data_coffee){
            alert("Your coffee is being brewed...")
          })
        })
      }

      power_state = '0';
      $.get('/api/power', null, function(data){
        power_state = data['message'];
      });

      function power() {
        if(power_state == '0') {
            new_state = '1';
        } else {
          new_state = '0';
        }

        $.get('/api/power/?state=' + new_state, , function(data){
          power_state = data['message'];
        });
      }

    </script>
  </body>
</html>
