<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
    <div class="container">

    <fieldset style="margin-top:20px;">
      <a id="powerbutton" href="" class="btn btn-default" onclick="return power($(this));">Unknown</a>
    </fieldset>


    <fieldset>
      <legend>Select your drugs</legend>
      <a href="" class="btn btn-default" onclick="return brew('coffee', 1);">Coffee</a>
      <a href="" class="btn btn-default" onclick="return brew('espresso', 1);">Espresso</a>
<!--       <a class="btn btn-default" onclick="return brew('espresso', 1)">Normal</a>
      <a class="btn btn-default" onclick="return brew('espresso', 2)">Strong</a>
      <a class="btn btn-default" onclick="return brew('espresso', 3)">Extra Strong</a> -->
    </fieldset>
<!--     <fieldset>
      <legend>Coffee</legend>
      <a class="btn btn-default" onclick="return brew('coffee', 1)">Normal</a>
      <a class="btn btn-default" onclick="return brew('coffee', 2)">Strong</a>
      <a class="btn btn-default" onclick="return brew('coffee', 3)">Extra Strong</a>
    </fieldset> -->
    </div>
    <script>
      function brew(what, strength) {
        $.get('/api/' + what + '/', null, function(data_coffee){
          alert("Your coffee is being brewed...")
        })
        return false;
      }

      power_state = '0';

      $.get('/api/power', null, function(data){
        power_state = data['message'];
        set_button_color(power_state, $('#powerbutton'))
      });

      function set_button_color(state, button) {
        button.removeClass('btn-default').removeClass('btn-primary');
        if(state == '1') {
          button.addClass('btn-success');
          button.text('On')
        } else {
          button.addClass('btn-danger');
          button.text('Off')
        }
      }

      function power() {
        if(power_state == '0') {
          new_state = '1';
        } else {
          new_state = '0';
        }

        $.get('/api/power/?state=' + new_state, null, function(data){
          power_state = data['message'];
          set_button_color(power_state, $('#powerbutton'));
        });
        return false;
      }

    </script>
  </body>
</html>
